*{
    font-family: 'Baloo Tammudu 2', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* html{
    scroll-behavior: smooth;
}

::selection{
    background-color: orange;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
      background-color: #FFD400;
} */

.navbar{
  
    position: fixed;
    /* margin-top: 10px; */
    background-color: transparent;
    width: 100%;
    z-index: 999;
    transition: .3s linear;
}

.sticky{

    background-color: #fff;
    /* padding: 18px 0; */
}

.sticky .navbar-menu a{
   color: #132330;
}

.sticky .menu-toggler span{
   background-color: #fff;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{

    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{

    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 45px;
    margin-top: auto;
    transition: .2s linear;

}

.navbar-menu a:hover{
      color: #FFD400 !important;
}  


.navbar .inner-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

body{
    
    height: 100vh;
    min-height: 500px;
    background: #000200;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
    color: #fff;
}

h2{
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 100px;  
    color: transparent;
    font-size: 50px;
    align-content: center;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
}   

body .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 12s ease-in-out infinite, backgroundmove 16s linear infinite;
}

body .star.star1{
    animation-delay: 0s;
    background: url(../images/star1.png) ;

}

body .star.star2{
    animation-delay: -1s;
    background: url(../images/star2.png) ;

}
body .star.star3{
    animation-delay: -2s;
    background: url(../images/star3.png) ;

}

body .star.star4{
    animation-delay: -3s;
    background: url(../images/star4.png) ;

}

body .star.star5{
    animation-delay: -4s;
    background: url(../images/star5.png) ;

}

body .star.star4{
    animation-delay: -5s;
    background: url(../images/star6.png) ;

}

body .star.star5{
    animation-delay: -6s;
    background: url(../images/star7.png) ;

}

body .star.star6{
    animation-delay: -7s;
    background: url(../images/star8.png) ;

}

body .star.star7{
    animation-delay: -8s;
    background: url(../images/star3.png) ;

}

body .star.star8{
    animation-delay: -9s;
    background: url(../images/star4.png) ;

}

@keyframes animate {
    
        0%, 20%, 40%, 60%, 80%, 100%
    {
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90%{
        opacity: 1;
    }
}
@keyframes backgroundmove{
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(2);
    }

    
}

.box{
    position: relative;
    width: 500px;
    height: 250px;
    margin-top: 350px;
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #000200;
}

.box:before{
    content:'';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box::after{
    content:'';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box::before,
.box::after{
  background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}

.content{
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    align-content: center;
}